@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Search font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Nav font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

 td{
  border: 1px solid #bebaba;
  padding: 4px;
} 

tr:hover {
  background-color: #dfd9d9;
  transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.content {
  background: url(../images/search_bg.jpg) no-repeat;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100vw;
  height: 110vh;
  /* opacity: 0.5; */
}
/* Navbar */

.nav-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 120%;
  font-weight: 800;
  border-radius: 10px;
  margin-left: 20%;
  font-family: 'Noto Sans', sans-serif;
}

/* .nav-item:hover{
  color: rgb(100, 100, 219);
  text-shadow: 2px 2px 4px #eeeaea;
  transition: 0.3s;
  font-size: 122%;
  text-decoration: underline;

} */
/* Search */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #007786;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-family: "Roboto", sans-serif;

}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  
  width: 40px;
  height: 44px;
  border: 2px solid #006370;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  margin-left: 20%;
  margin-bottom: 2%;
}



/* Table */

.container {
  overflow-y: auto;
  /* overflow-x: scroll; */
  height: 79%;
  /* border: 2px solid black; */
  /* width: 90%; */
  display: block;
}
.container thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #a1caca;
  opacity: 0.8;

}
th,
td {
  padding: 8px 15px;
  border: 2px solid #c6f0f0;
}

td {
  font-weight: 100;
}
th {
  background: #1c2e96;
  color: white;
  font-size: 120%;
}
tbody tr:hover {
  background-color: #ffffff4d;
  color: black;
  transition: 0.5s;
}

.place {
  border: 1px solid #bebaba;
  display: inline-block;
  padding: 4px;
  background-color: gray;
  border-radius: 3px;
  box-shadow: 2px 2px 4px black;
}

.place:hover {
  background-color: #dfd9d9;
  transition: 0.5s;
}

/* Footer */
